<!DOCTYPE html>
<html>

<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <div class="contanier text-center">
        <h1>Generated Password is:</h1>
        <input type="text" value="{{ password }}" id="myInput">
            <button class="btn btn-success" onclick="myFunction()">Copy password</button>

        <br>
        <br>
        <a href="{% url 'home' %}" class="btn btn-warning">Home</a>
        <a href="{% url 'about' %}" class="btn btn-warning">About Page</a>
    </div>


   
 
   



<script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999)
  document.execCommand("copy");
  alert("Copied the text: " + copyText.value);
}
</script>
   
</body>

</html>